* {
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
   list-style-type: none;
}
@mixin bgimage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h3 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 500;
}
h4, .media {
  font-weight: 300;
}

//nav bar items
.navbar {
  margin-bottom: 0px;
  font-weight: 100;
  letter-spacing: 2px;
}
.navbar-header {
  padding-left: 60px;
  .navbar-brand {
    font-size: 25px;
  }
}
.navbar-nav {
  padding-right: 60px;
}
.dropdown-toggle {
  padding-top: 15px;
  color: grey;
  padding-left: 10px;
  padding-right: 10px;
}

//carousel
.slide1 {
  @include bgimage;
  background-image: url("https://images.unsplash.com/photo-1433650552684-d4004a945d6c?dpr=2");
  height: 600px;
}
.slide2 {
  @include bgimage;
  background-image: url("https://images.unsplash.com/photo-1442115597578-2d0fb2413734?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80");
  height: 600px;
}
.slide3 {
  @include bgimage;
  background-image: url("https://images.unsplash.com/photo-1475483768296-6163e08872a1?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80");
  height: 600px;
}
.carousel-caption h1 {
  text-align: center;
  font-size: 30px;
  color: white;
}

//login
.login {
  position: absolute;
  @include bgimage;
  background-image: url("https://images.unsplash.com/photo-1477453559950-e541fa922120?dpr=2&auto=format&fit=crop&w=1500&h=1134&q=80");
  height: 600px;
  width: 100%;
  h3 {
    padding-bottom: 30px;
  }
  .jumbotron {
    position: relative;
    margin-top: 70px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 5px;
    opacity: .9;
  }
}

//search page and results
  .searchpage {
    background-image: url("https://images.unsplash.com/photo-1442115597578-2d0fb2413734?dpr=2");
    background-size: cover;
  }


  label {
    font-weight: 300;
  }

  .thumbnail {
    margin-top: 25px;
    height: 500px;
    img{
      height: 310px;
    }
    .caption {
      margin-top: 10px;
      font-weight: 300px;
      // color: green;
    }
  }
  .profile-body {
    margin-left: 20px;
  }

  .group-body {
    margin-left: 20px;
  }

  .border {
    border-color: lightgrey;
  }

  .meetingpic {
    width: 50%;
    height: 100px;
    margin: 8% 25% 8% 25%;
  }

  .meeting-note {
    padding-left: 0px;
  }

  .note {
    padding-bottom: 15px;
  }
  textarea {
    width: 90%;
  }

  .fa {
    margin-top: 50px;
    width: 30px;
    height: 30px;
  }

  footer {
    font-weight: 100;
    padding: 35px;
  }

  .button {
    text-decoration: none;
  }

  .meetings {
    background-image: url("https://1888.org/images/2013/02/24/10170/open-bible.jpg");
    background-size: cover;
  }

  #map {
   width: 100%;
   height: 400px;
   background-color: grey;
  }
