*{
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
   list-style-type: none;
}

.main-container {
  margin: 0px;
  padding: 0px;

  .navbar {
    margin-bottom: 0px;
    font-weight: 100;
    letter-spacing: 2px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    background-color: white;
    border-bottom-color: white;
  }

  img {
   width: 100%;
  }

  .imageAndText {
    position: relative;
  }
  .imageAndText .col {
    position: absolute; z-index: 1; top: 0; left: 0;
  }

  .moto {
    text-align: center;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
    margin-left: 200px;
    margin-top: 300px;
    .x {
      font-size: 100px;
    }
  }

  h3 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 500;
  }
  h4, .media {
    font-weight: 300;
  }

  label {
    font-weight: 300;
  }

  .thumbnail {
    margin-top: 25px;
    height: 500px;
    img{
      height: 310px;
    }
    .caption {
      margin-top: 10px;
      font-weight: 300px;
      // color: green;
    }
  }
  .profile-body {
    margin-left: 20px;
  }

  .group-body {
    margin-left: 20px;
  }

  .meetingpic {
    width: 33%;
    height: 170px;
  }

  .meeting-note {
    padding-left: 0px;
  }

  .note {
    padding-bottom: 15px;  
  }
  textarea {
    width: 90%;
  }

  .fa {
    margin-top: 50px;
    width: 30px;
    height: 30px;
  }

  footer {
    font-weight: 100;
    padding: 35px;
  }

  .button {
    text-decoration: none;
  }
}
