<div class="about">
  <div class="row">
    <div class="jumbotron">
 <h3 class="text-center logo">THE eXCHANGE</h3>
 <p class="aboutinfo">
   This is a space where we can connect with others to truly engage with what it means to be the body of Christ through reading of the Word and living it out.
<br>
<br>
   We study scripture, share meals, worship, and learn to live purposefully in our neighborhoods, workplaces and campuses. The <strong>eXCHANGE</strong> is also a place where you can be honest, and where you can be fully known. We look to the New Testament Church in the book of Acts as an exammple of a vibrant community living their lives together as they met in the temple and in their homes.
<br>
<br>
   As we study the Word, we grow as disciples of Jesus. We realize that we all can uniquely serve the church and the world. We all have a special role to play.
 </p>
    </div>


  </div>
</div>
