<div class="about">
  <div class="row">
    <div class="jumbotron">
 <h3 class="text-center logo">THE eXCHANGE</h3>
 <p class="aboutinfo">
   This is a space where we can connect with others to truly engage with what it means to be the body of Christ. Through reading of the Word and living out.
<br>
<br>
   We study the scriptures, share meals, worship, and learn to live missionally in our neighborhoods, workplaces and campuses. The eXCHANGE is also the place where you can be honest. Where you can be fully known. When we look at the New Testament Church in the book of Acts, we see a vibrant community living their real lives together as they met in the temple courts and in their homes.
<br>
<br>
   As we study the Word, we grow as disciples of Jesus, we realize that we all have special gifts that can uniquely serve the church and the world, and we all have a special role to play.

 </p>
    </div>


  </div>
</div>
