<h3 class="col-md-8 col-md-offset-4">Search for groups by filter or by location</h3>

<form class="form-horizontal" ng-submit="groupSearch.search(group)" ng-hide="groupSearch.showResults">

  <div class="form-group">
    <label for="inputTitle3" class="col-sm-4 control-label">Title</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="group.title" placeholder="Title">
    </div>
  </div>

  <div class="form-group">
    <label for="inputCategory3" class="col-sm-4 control-label">Category</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="group.category" placeholder="Men, Women, Single ...">
    </div>
  </div>

  <div class="form-group">
    <label for="inputDescription3" class="col-sm-4 control-label">Description</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="group.description" placeholder="Book of the Bible  (i.e. Daniel)">
    </div>
  </div>

  <div class="form-group">
    <label for="inputDay3" class="col-sm-4 control-label">Day of the Week</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="group.day" placeholder="Monday">
    </div>
  </div>

  <div class="form-group">
    <label for="inputChildcare3" class="col-sm-4 control-label">Childcare</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="group.childcare" placeholder="Yes / No">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-10">
      <button type="submit" class="btn btn-default">SUBMIT</button>
    </div>
  </div>
</form>

<div ng-show="groupSearch.showResults" class="col-md-8 col-md-offset-4">
  <ul>
    <li ng-repeat="group in groupSearch.groups.results">
      <p>
        <a class="group-detail" href="#/groupDetail/{{ group.id }}">
        {{group.title}} - {{group.category}}
        {{group.description}}
        {{group.day}}
        {{group.childcare}}
        {{group.address.street}}
        {{group.address.city}}
        {{group.address.state}}
        {{group.address.zip}}
        </a>
      </p>
    </li>
  </ul>
  <div class="form-group">
    <div class="col-sm-6">
      <button type="submit" class="btn btn-default">NEW SEARCH</button>
    </div>
  </div>
</div>
