<div class="group">
  <div class="row">
    <div class="jumbotron groupinfo text-center">
      <div class="groupinfodetail text-center">
        <h3 class="text-center">{{groupDetail.group.title}} </h3>
          <p>{{groupDetail.group.description}}</p>
          <p>Weekly Meetings on: {{groupDetail.group.day}}</p>
          <p>Location: {{groupDetail.group.street}} {{groupDetail.group.address.city}}, {{groupDetail.group.address.state}} {{groupDetail.group.address.zip}} </p>
      </div>
      <button class="btn btn-default" ng-hide="groupDetail.isAMember" ng-click="groupDetail.addMember()">Join Group</button>
    </div>

    <div class="groupdetail">
      <div class="col-lg-6 col-md-6">
        <div class="grouplist">
          <h3 class="text-center">Meeting List
            <button ng-show="groupDetail.isOrganizer" class="btn btn-default" >
              <a ui-sref="root.groupAddMtgs({ id: groupDetail.id })">Add Meeting</a>
            </button>
          </h3>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="meeting in groupDetail.group.meetings" >
                <a href="#/meeting/{{ meeting.id }}">
                  {{meeting.curriculum}}</a>
                  <p class="meetingtime">{{meeting.time}}</p>
              </li>
            </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="memberlist">
        <h3 class="text-center">Member List</h3><p>(usernames)</p>
          <div class="media">
            <ul class="list-group" ng-show="groupDetail.memberList">
              <li class="list-group-item" ng-repeat="member in groupDetail.memberList">
                {{member.users.username}}
              </li>
            </ul>
          </div>
      </div>
      </div>
    </div>

  </div>
</div>
