<div class="col-md-12">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="http://www.religiocando.it/fileXLS/nuovo_testamento/miracoli/ges%C3%B9_guarisce_malati/ges%C3%B9_guarisce_malati_disegni/ges%C3%B9_guarisce_i_malati_3.jpg">
          <div class="caption">
            <p>Who: {{groupDetail.group.title}} ({{groupDetail.group.category}})</p>
            <p>What: {{groupDetail.group.description}}</p>
            <p>When: {{groupDetail.group.day}}</p>
            <p>Where: {{groupDetail.group.street}} {{groupDetail.group.address.city}}, {{groupDetail.group.address.state}} {{groupDetail.group.address.zip}} </p>
          </div>
        <button ng-click="groupDetail.addMember()">Join Group</button>
    </div>
  </div>

  <div class="text-left col-md-6 group-body">
    <h3>{{groupDetail.group.title}} ({{groupDetail.group.category}})</h3>

  <h4>Meeting(s)
    <button>
      <a ui-sref="root.groupAddMtgs({ id: groupDetail.id })">Add Meeting</a>
    </button>
  </h4>
    <div class="media">
      <ul class="media-body">
        <li class="media-heading" ng-repeat="meeting in groupDetail.group.meetings">
          <a href="#/meeting/{{ meeting.id }}">
            {{meeting.curriculum}}
            {{meeting.time}}
          </a>
        </li>
      </ul>

    </div>

  <h4>Member(s)</h4>
    <div class="media">
      <ul class="media-body" ng-show='groupDetail.memberList'>
        <li class="media-heading" ng-repeat="member in groupDetail.memberList">
          {{member.users.username}}
        </li>
      </ul>
    </div>
  </div>
</div>
