<div class="add-container">

<h3 class="title">Add a Meeting</h3>

<form name="mtg-form" ng-submit="groupAddMeeting.addMeeting()">
  <p>Meeting Information</p>
  <p class="control">
    <input name="curriculum" type="text" placeholder="Meeting Curriculum"
           ng-model="meetings.curriculum" required /></p>
  <p class="control">
    <input name="time" type="text" placeholder="Meeting Day and Time"
           ng-model="meetings.time" required /></p>
    <button>Submit</button>
  </form>
</div>
