<h3 class="title">Group Detail</h3>
<button ng-click="groupDetail.addMember()">Join Group</button>
<p>
  {{groupDetail.group.title}} - {{groupDetail.group.category}}
  {{groupDetail.group.description}}
  {{groupDetail.group.day}}
  {{groupDetail.group.childcare}}
  {{groupDetail.group.address.street}}
  {{groupDetail.group.address.city}}
  {{groupDetail.group.address.zip}}
</p>

<h2>Meetings</h2>

<button>
  <a ui-sref="root.groupAddMtgs({ id: groupDetail.id })">
    Add Meeting</a>
</button>
<ul>
  <li ng-repeat="meeting in groupDetail.group.meetings">
    {{meeting.curriculum}}
    {{meeting.time}}
  </li>
</ul>

<h2>Members</h2>
<ul ng-show='groupDetail.memberList'>
  <li ng-repeat="member in groupDetail.memberList">
    {{member.users.username}}
  </li>
</ul>
