<div class="container-fluid">
   <div class="row">
     <div class="col-sm-12">

      <div id="theCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#theCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#theCarousel" data-slide-to="1"></li>
          <li data-target="#theCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="slide1">
              <div class="carousel-caption">
                <h1>Devoting to Seeking Truth</h1>
                <h3>Matthew 4:4<h3>
                  <p>It is written, 'Man shall not live by bread alone, but by every word that comes from the mouth of God.'</p>
            </div>
            </div>
          </div>

          <div class="item">
            <div class="slide2">
              <div class="carousel-caption">
                <h1>Connecting through The Word</h1>
                <h3>Hebrews 4:12<h3>
                  <p>For the word of God is living and active, sharper than any two-edged sword, piercing to the division of soul and of spirit, of joints and of marrow, and discerning the thoughts and intentions of the heart.</p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="slide3">
              <div class="carousel-caption">
                <h1>Relaseing Heaven on Earth</h1>
                <h3>Matthew 24:35<h3>
                  <p>Heaven and earth will pass away, but my words will not pass away.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#theCarousel" role="button" data-slide="prev">
        <span class="glyphicon-chevron-left icon-prev"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#theCarousel" role="button" data-slide="next">
        <span class="glyphicon-chevron-right icon-next"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
