<div class="container-fluid">
   <div class="row">
     <div class="col-sm-12">

      <div id="theCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#theCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#theCarousel" data-slide-to="1"></li>
          <li data-target="#theCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="slide1">
              <div class="carousel-caption">
                <h1>Devoting to Seeking Truth</h1>
                <h3>Matthew 4:4<h3>
                  <p>Man shall not live by bread alone, but by every word that comes from the mouth of God.</p>
            </div>
            </div>
          </div>

          <div class="item">
            <div class="slide2">
              <div class="carousel-caption">
                <h1>Connecting through The Word</h1>
                <h3>Hebrews 4:12<h3>
                  <p>For the word of God is living and active, sharper than any two-edged sword, piercing to the division of soul and of spirit, of joints and of marrow, and discerning the thoughts and intentions of the heart.</p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="slide3">
              <div class="carousel-caption">
                <h1>Releasing Heaven on Earth</h1>
                <h3>Matthew 24:35<h3>
                  <p>Heaven and earth will pass away, but my words will not pass away.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#theCarousel" role="button" data-slide="prev">
        <span class="glyphicon-chevron-left icon-prev"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#theCarousel" role="button" data-slide="next">
        <span class="glyphicon-chevron-right icon-next"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

<div class="row home text-center">
    <div class="col-sm-6 col-md-4 boxone">
      <div class="thumbnail">
        <div class="caption">
          <h4>START YOUR OWN GROUP</h4>
          <p>Create a secure and intimate setting for people to study God's Word and build authentic relationships.</p>
          <p><a href="#/groupAdd" class="btn btn-default" role="button">ADD A GROUP</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 boxtwo">
      <div class="thumbnail">
        <div class="caption">
          <h4>JOIN AN EXISTING GROUP</h4>
          <p>Let us not give up meeting together, as some are in the habit of doing, but let us encourage one another--and all the more as you see the Day approaching. <br>(Hebrews 10:25)</p>
          <p><a href="#/groupSearch" class="btn btn-default" role="button">SEARCH</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 boxthree">
      <div class="thumbnail">
        <div class="caption">
          <h4>YOUR GROUPS & MEETINGS</h4>
          <p>View your list of groups and the meetings. Interact with fellow members on the meeting page. Write comments about the meeting by sharing your thoughts and experiences.</p>
          <p><a href="#/profile/{{layout.userID}}" class="btn btn-default" role="button">MY PROFILE</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
