
<div class="container-fluid">

  <!-- <div id="mycarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <div class="item active">
            <img src="https://new.cfan.org/images/headers/slider_bible_study.jpg" alt="" class="img-responsive"/>
            <div class="carousel-caption">
              Study Truth & Build Authentic Communnity
            </div>
         </div>
      </div>
  </div> -->

  <div class="imageAndText">
    <img src="https://new.cfan.org/images/headers/slider_bible_study.jpg" class="align-center img-responsive">
    <div class="col">
        <div class="col-sm-4">
            <p class="moto">Study Truth & Build Communnity</p>
        </div>
    </div>
  </div>

</div>
