<header>
  <nav class="nav">
    <div class="nav-left">
      <a class="nav-item" href="#/">The Exchange</a>
    </div>
    <div class="nav-right nav-menu">

      <a class="nav-item" href="#/home"
         ng-show="layout">About</a>

      <a class="nav-item" href="#/groupAdd"
         ng-show="layout.loggedIn">Add a Group</a>

      <a class="nav-item" href="#/groupSearch"
         ng-show="layout.loggedIn">Search for a Group</a>

      <a class="nav-item" href="#/register"
         ng-show="!layout.loggedIn">Sign Up</a>

      <a class="nav-item" href="#/login"
         ng-show="!layout.loggedIn">Login</a>

      <a class="nav-item" href="#/"
         ng-show="layout.loggedIn"
         ng-click="layout.logout()">Logout</a>
    </div>



  </nav>

</header>

<div class="wrapper" ui-view>
</div>

<footer>
  <div class="content has-text-centered">
    Tai & Grace (tm) production.
  </div>
  <a href="https://www.instagram.com/" class="socialmedia" title="Facebook" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  <a href="https://www.twitter.com/" class="socialmedia" title="Facebook" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/" class="socialmedia" title="Facebook" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
</footer>
