<div>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/home">
            THE eXCHANGE
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="nav-item" href="#/about">ABOUT</a>
          </li>
          <li>
            <a class="nav-item" href="#/groupAdd" ng-show="layout.loggedIn">ADD GROUP</a></li>
          <li class="dropdown">
              <div class="dropdown-toggle" data-toggle="dropdown" ng-show="layout.loggedIn">SEARCH
                <span class="caret"></span>
              </div>
              <ul class="dropdown-menu">
                <li><a href="#/groupSearch">GROUP</a></li>
                <li><a class="nav-item" href="#/nearMe">NEAR ME</a></li>
              </ul>
          </li>
          <li>
              <a class="nav-item" href="#/profile/{{layout.userID}}" ng-show="layout.loggedIn">PROFILE</a></li>
          <li>
            <a class="nav-item" href="#/register" ng-show="!layout.loggedIn">SIGN UP</a></li>
          <li role="presentation">
            <a class="nav-item" href="#/login" ng-show="!layout.loggedIn">LOGIN</a></li>
          <li>
            <a class="nav-item" href="#/" ng-show="layout.loggedIn" ng-click="layout.logout()">LOGOUT</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="wrapper" ui-view></div>

  <div class="container-fluid">
    <div class="navbar-bottom footer text-center">
      <span class="social-media">
        <a href="https://twitter.com/TheExchangeSite" title="Facebook" target="_blank"><i class="fa fa-twitter socialmedia" aria-hidden="true"></i></a>
      </span>
      <span class="container-fluid">
        © Chen & Lee Production - 2016
      </span>

    </div>
  </div>
</div>
