<div class="text-center">
  <h3>{{meetingDetail.meeting.curriculum}}</h3>
    <button ng-hide="meetingDetail.isMember" ng-click="meetingDetail.addMtgMember()">JOIN</button>
</div>

<div class="col-md-12 meetings">

  <div class="col-md-4 text-left panel panel-default">
    <h3>From the Group Leader</h3>
    <p>Objective: {{meetingDetail.meeting.objective}}</p>
    <form class="notes" ng-submit="meetingDetail.inputObj()">
        <textarea ng-model="meetingDetail.obj"></textarea>
        <button>Add Objective</button>
    </form>
  </div>

  <div class="col-md-4">
    <img class="meetingpic" src="http://lh4.ggpht.com/_m9qne3nmA8s/R88YZ0BdI6I/AAAAAAAABYA/iY6Z6H0O1MY/3608.jpg?imgmax=640">
  </div>

  <div class="col-md-4 notes panel panel-default">
    <h3>My Notes and Comments</h3>
    <ul class="meeting-note">
      <li ng-repeat="note in meetingDetail.allNotes" class="note">
        {{note.note}}
        {{note.created_at}}
      </li>
    </ul>
    <form class="notes" ng-submit="meetingDetail.addNote()">
        <textarea ng-model="meetingDetail.note"></textarea>
        <button>Add Note</button>
    </form>
  </div>

</div>
