<div class="nearby">
  <div class="row">

    <div class="col-lg-6 col-md-6">
      <div class="nearbyresults">
        <h3 class="text-center">Groups Nearby</h3>

          <div class="text-center">
            <form class="form-inline" ng-submit="groupSearch.nearby(group)">
              <div class="form-group text-center">
                <label for="inputMile3" class="control-label">Select Mile Range
                </label>
                  <select class="form-control selectmile" ng-model="group.address.miles" >
                      <option>2</option>
                      <option>5</option>
                      <option>10</option>
                      <option>15</option>
                      <option>30</option>
                  </select>
              <button type="submit" class="btn btn-default">Search</button>
            </div>
          </form>
      </div>

        <div >
          <ol>
            <li ng-repeat="group in groupSearch.location">
              <a href="#/groupDetail/{{ group.id }}">
                <h4>Group: {{group.title}}</h4></a>
                <p>{{group.address.street}},
                {{group.address.city}}
                {{group.address.state}}
                {{group.address.zip}}</p>
            </li>
          </ol>
        </div>


    </div>
  </div>

      <div class="col-lg-6 col-md-6">
        <div class="jumbotron">
          <div class="map-controls-container">
            <div class="map-container">
              <ng-map id="map">
              </ng-map>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
