<div class="nearby">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="nearbyresults">
        <h3 class="text-center">Groups Nearby</h3>
        <ol>
          <li ng-repeat="group in groupSearch.location">
            <a href="#/groupDetail/{{ group.id }}">
              <h4>Group: {{group.title}}</h4></a>
              <p>{{group.address.street}},
              {{group.address.city}}
              {{group.address.state}}
              {{group.address.zip}}</p>      
          </li>
        </ol>

      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="jumbotron">
        <div class="map-controls-container">
          <div class="map-container">
            <ng-map id="map">
            </ng-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
