
<div class="profiledetail">
      <div class="jumbotron">
        <h3 class="text-center">HELLO {{ profile.groups.name }}</h3>
          <p class="text-center">Member since {{profile.groups.created_at}}</p>

            <div class="profileinfo">
              <h4 class="text-center">Group(s)</h4>
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="group in profile.groups.groups">
                      <a href="#/groupDetail/{{ group.id }}">
                        {{group.title}} - {{group.description}}
                     </a>
                    </li>
                  </ul>
              <h4 class="text-center">Meeting(s)</h4>
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="meeting in profile.groups.meetings">
                      <a href="#/meeting/{{ meeting.id }}">
                        {{meeting.curriculum}}   {{meeting.time}}
                      </a>
                    </li>
                  </ul>
              </div>
            </div>

      </div>
    </div>
</div>
