<div class="text-center">
      <h3>HELLO {{ profile.user.name }}</h3>
      <!-- <p>
        {{ profile.user.username }}
        {{ profile.user.email }}
      </p> -->
      <p>Groups and Meetings</p>
</div>

<div class="text-center">
  <h3>Groups</h3>
  <div class="media">
    <ul class="media-body">
      <li class="media-heading" ng-repeat="group in profile.groups">
        <a href="#/groupDetail/{{ group.groups.id }}">
          {{group.groups.title}} - {{group.groups.description}}
       </a>
      </li>
    </ul>
  </div>
</div>

<div class="text-center">
  <h3>Meetings</h3>
  <div class="media">
    <ul class="media-body">
      <li class="media-heading" ng-repeat="meeting in profile.meetings">
        <a href="#/meeting/{{ meeting.meetings.id }}">
          {{meeting.meetings.curriculum}}
        </a>
      </li>
    </ul>
  </div>
</div>
